<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Star Wars</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag "application", media: 'all' %>
      <%= javascript_include_tag 'application' %>
      <meta name="viewport" content="width_device-width, initial-scale=1">
  </head>

  <body class="aboutBody">
    <div class="about">
        <h1> Star Wars Movies API </h1>
        <p>
          This is the Star Wars API. I have used the films table as well as the people table to create this website.
          More information about how I used this API as well as what I implemented, resources, and documentation can be found in the
          Information page.
        </p>
        <div class="button">
            <a href="/films"><button type="button"> Movies </button></a>
            <a href="/people"><button type="button"> Characters </button></a>
            <a href="/films"><button type="button"> Information </button></a>
        </div>
    </div>
  </body>
</html>
